body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: plum;
    transform: scale(1.15);
    transition: 0.5s;
}

#dong {
    width: 10.3rem;
    height: 15rem;
    margin: 1%;
    border-radius: 15px;
    border-style: none;
    background-image: linear-gradient(black, #9f58ed 80%);
}


#todolist {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
}

#inputayat, #inputisi {
    border-radius: 30px;
}

#submittodolist {
    background-color: #3a05a4;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

#submittodolist:hover {
    background-color: white;
    color: #3a05a4;
}

#votw {
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
}

#curhatdong,
#kanadong,
#daftardong {
    font-weight: bold;
    font-size: x-large;
}

#daftardong,
#kanadong,
#curhatdong {
    color: white;
}

#daftardongsub,
#curhatdongsub,
#kanadongsub {
    visibility: hidden;
    color: silver;
}

.card:hover #daftardongsub {
    visibility: visible;
}

.card:hover #curhatdongsub {
    visibility: visible;
}

.card:hover #kanadongsub {
    visibility: visible;
}

#lists {
    padding: 0;
    background-color: transparent;
    font-weight: bold;
    color: skyblue;
    border-color: transparent;
    font-size: 21;
}

#display-ayat {
    font-weight: bold;
    font-size: x-large;
    margin: 1vw;
    color: #3a05a4;
}